<div class="outer-container">
  <div class="inner-container">
    <div class="title">
      <h2>Welcome to App</h2>
      <h3>Login</h3>
      <a (click)="onForgotPassword()">Forgot Password</a> |
      <a (click)="openRegister()">Register</a>
    </div>
    <div class="form-outer-container">
      <div class="form-inner-container">
        <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="onLogin(loginForm.value)">
          <div>
            <input type="text" placeholder="Username" formControlName="username" id="username">
            <p *ngIf="hasError('username', 'required')">Username is required</p>
            <input type="password" placeholder="Password" formControlName="password" id="password">
            <p *ngIf="hasError('password', 'required')">Password is required</p>
          </div>
          <div>
            <button [disabled]="!loginForm.valid">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>