<div class="container">
  <nav>
    <ul>
      <li>
        <strong>
          <a class="app-name">App</a>
        </strong>
      </li>
      <li>
        <a routerLink='../pages/dashboard' routerLinkActive="active">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink='../pages/users' routerLinkActive="active">
          Users
        </a>
      </li>
      <li>
        <a routerLink='.'>
          Link
        </a>
      </li>
      <li>
        <a routerLink='.'>
          Link
        </a>
      </li>
      <li>
        <a routerLink='.'>
          Link
        </a>
      </li>
      <li>
        <a routerLink='../pages/admin' routerLinkActive="active">
          Admin
        </a>
      </li>
      <li style="float:right">
        <a (click)="logout()">
          Logout
        </a>
      </li>
      <li style="float:right">
        <a [routerLink]="['../pages/user/edit']">
          Edit Profile
        </a>
      </li>
      <li style="float:right">
        <span class="user-menu" *ngIf="loggedIn()">
          <span>
            Welcome {{authService.decodedToken?.unique_name | titlecase}}
          </span>
        </span>
      </li>
    </ul>
  </nav>
  <div class="main-content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>