<div class="container">

  <h1>Todo</h1>

  <p *ngIf="!vm"><em>Loading...</em></p>

  <div *ngIf="vm">
    <div class="row">
      <div class="col-sm-4">
        <div class="clearfix">
          <h2 class="float-left">Lists</h2>
          <button class="btn btn-primary float-right" title="Add List..." (click)="showNewList()">
            Add New List
          </button>
        </div>
        <ul class="list-group">
          <li *ngFor="let list of vm.lists; index as i" class="list-group-item"
            [ngClass]="{ 'active': selectedList == list }" (click)="selectedList = list">
            <div class="clearfix">
              <div class="float-left">
                {{ list.title }}
              </div>
              <div class="float-right text-right">
                <span class="badge badge-light">{{ remainingItems(list) }}</span>
              </div>
            </div>
          </li>
        </ul>

        <div id="new-list-form" class="card" *ngIf="newListIsOpen">
          <div class="card-header clearfix">
            <h4 class="card-title float-left">New List</h4>
            <button type="button" class="close float-right" aria-label="Close" (click)="newListCancelled()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="List title..."
                [(ngModel)]="newListEditor.title" [ngClass]="{ 'is-invalid': newListEditor.error }"
                (keyup.enter)="addList()" />
              <div *ngIf="newListEditor.error" class="invalid-feedback">
                {{ newListEditor.error }}
              </div>
            </div>
            <div *ngIf="debug">
              <pre>{{ newListEditor | json }}</pre>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button class="btn btn-default" (click)="newListCancelled()">Cancel</button>
              <button class="btn btn-primary" (click)="addList()">Create</button>
            </div>
          </div>
        </div>

        <div id="item-detail" class="card" *ngIf="itemDetailIsOpen">
          <div class="card-header clearfix">
            <h4 class="card-title float-left">Item Details</h4>
            <button type="button" class="close float-right" aria-label="Close" (click)="hideItemDetails()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <div class="form">
              <div class="form-group">
                <label for="list">List</label>
                <select class="form-control" [(ngModel)]="itemDetailsEditor.listId">
                  <option [ngValue]="list.id" *ngFor="let list of vm.lists">{{ list.title }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="priority">Priority</label>
                <select class="form-control" [(ngModel)]="itemDetailsEditor.priority">
                  <option [ngValue]="level.value" *ngFor="let level of vm.priorityLevels">{{ level.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="note">Note</label>
                <textarea id="note" class="form-control" rows="3" [(ngModel)]="itemDetailsEditor.note"></textarea>
              </div>
            </div>
            <div *ngIf="debug">
              <pre>{{ itemDetailsEditor | json }}</pre>
            </div>
          </div>
          <div class="card-footer">
            <div class="clearfix">
              <div class="float-left">
                <button class="btn btn-default text-danger" (click)="deleteItem(selectedItem)">Delete</button>
              </div>
              <div class="float-right">
                <button class="btn btn-default" (click)="hideItemDetails()">Cancel</button>
                <button class="btn btn-primary" (click)="updateItemDetails()">Update</button>
              </div>
            </div>
          </div>
        </div>

        <div id="list-delete-confirm" class="card" *ngIf="listDeleteIsOpen">
          <div class="card-header clearfix">
            <h4 class="card-title float-left">Delete "{{ selectedList?.title }}"?</h4>
            <button type="button" class="close float-right" aria-label="Close" (click)="hideDeleteList()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <p>All items will be permanently deleted. </p>
            <div *ngIf="debug">
              <pre>{{ selectedList | json }}</pre>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button type="button" class="btn btn-default" (click)="hideDeleteList()">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="deleteListConfirmed()">Delete</button>
            </div>
          </div>
        </div>

        <div id="list-options" class="card" *ngIf="listOptionsIsOpen">
          <div class="card-header clearfix">
            <h4 class="card-title float-left">Edit {{ selectedList.title }} List</h4>
            <button type="button" class="close float-right" aria-label="Close" (click)="hideListOptions()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputListTitle">Title</label>
              <input type="text" class="form-control" id="inputListTitle" placeholder="List name..."
                [(ngModel)]="listOptionsEditor.title" (keyup.enter)="updateListOptions()" />
            </div>
            <div *ngIf="debug">
              <pre>{{ listOptionsEditor | json }}</pre>
            </div>
          </div>
          <div class="card-footer">
            <div class="clearfix">
              <div class="float-left">
                <button class="btn btn-default text-danger" (click)="showDeleteList()">Delete</button>
              </div>
              <div class="float-right">
                <button class="btn btn-default" (click)="hideListOptions()">Cancel</button>
                <button class="btn btn-primary" (click)="updateListOptions()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8" *ngIf="selectedList">
        <div class="clearfix">
          <h2 class="float-left">{{ selectedList.title }}</h2>
          <button type="button" id="listOptions" class="btn btn-default float-right" title="List Options..."
            (click)="showListOptions()">
            Edit {{ selectedList.title }} List
          </button>
        </div>
        <ul id="todo-items" class="list-group mb-2">
          <li class="list-group-item" *ngFor="let item of selectedList.items; index as i">
            <div class="d-flex">
              <div class="todo-item-checkbox">
                <input type="checkbox" [(ngModel)]="item.done" (change)="updateItem(item)" />
              </div>
              <div class="flex-fill">
                <input id="{{ 'itemTitle' + i }}" *ngIf="item == selectedItem" type="text"
                  class="form-control item-input-control" [(ngModel)]="item.title"
                  (keyup.enter)="updateItem(item, true)" (blur)="updateItem(item)" autofocus="autofocus" />
                <div class="todo-item-title" *ngIf="item != selectedItem" [ngClass]="{ 'done-todo': item.done }"
                  (click)="editItem(item, 'itemTitle' + i)" class="form-control item-input-control">
                  <span>{{ item.title }}</span>
                </div>
              </div>
              <div class="todo-item-commands">
                <button *ngIf="item.id != 0" (click)="showItemDetails(item)" class="btn btn-default btn-xs"
                  role="button">
                  ...
                </button>
              </div>
            </div>
          </li>
          <li class="list-group-item" (click)="addItem()">
            <button class="btn btn-default">Add Item...</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="debug">
    <pre>{{ vm | json }}</pre>
  </div>
</div>