.outer-container {
    text-align: center;
    margin-top: 50px;
}

.inner-container {
    display: inline-block;
}

table,
th,
td {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    padding: 10px;
}

table th {
    color: white;
    background-color: #333;
}

tr:hover td {
    color: white;
    background-color: #4caf50;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

button {
    border: none;
    color: white;
    padding: 10px 40%;
    width: 100%;
    text-align: center;
    background-color: lighten(#333, 50%);
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

button:focus {
    color: white;
    background-color: lighten(#333, 50%);
}
